{% extends "Usuarios/HeaderAndFooterFachada.html"%}

{% block title %} Lista de tutorados {% endblock %}


{% block body %}
<section class="min-vh-100" style="background-color: #eee;">
  <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
          <div class="col-lg-8 col-xl-10">
              <div class="card border-top border-bottom border-4" style="border-color: #F08200 !important;">
                  <div class="card-body p-4">
                    <div style="
                      display:flex;
                      flex-direction: row;
                      width:100%; 
                      //border:solid 1px black; 
                      align-items: center;
                      justify-content: space-around;
                      padding-top: 3em;
                      padding-bottom: 3em;
                    "
                    >
                      <h3 class="fw-bold text-primary mt-1">Tutorados de: {{tutor.first_name}} {{tutor.last_name}}</h3>
                      <form action="{% url 'generar_carta_alumno'%}" method="get">
                          {% comment %} {% csrf_token %} {% endcomment %}
                          <button type="submit" class="btn btn-primary">
                              Generar carta(s) de asignación
                          </button>
                      </div>
                      <!--Inicio de table-->
                      <div class = "table-responsive">
                        <table class="table table-striped table-hover">
                          <thead>
                            <tr>
                              <th>
                                <input type="checkbox" id="select-all"/>
                              </th>
                              <th>Matrícula</th>
                              <th>Nombre</th>
                              <th>Correo</th>
                              <th>Correo personal</th>
                              <th>Carrera</th>
                              
                            </tr>
                          </thead>
                          <tbody>
                            <tr>
                            {% for alumno in object_list %}
                            <tr>
                              <td>
                                <input type="checkbox" class="select-item" value="{{alumno.matricula}}"/>
                              </td>
                              <td>{{ alumno.matricula }}</td>
                              <td>{{ alumno.first_name }} {{ alumno.last_name }}</td>
                              <td>{{ alumno.email}} </td>
                              <td>{{ alumno.correo_personal|default_if_none:"No registrado" }}</td>
                              <td>{{ alumno.get_carrera_display }}</td>
                            </tr>
                            {% endfor %}
                          </tbody>
                        </table>
                      </div>
                      <!--Fin de table-->
                    </form>
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>

<!-- Script de JavaScript para la funcionalidad de seleccionar todos -->
<script>
  // Selecciona el checkbox de "Seleccionar todos" y todos los checkboxes individuales
  const selectAllCheckbox = document.getElementById('select-all');
  const itemCheckboxes = document.querySelectorAll('.select-item');

  {% comment %} console.log(selectAllCheckbox);
  console.log(itemCheckboxes); {% endcomment %}

  // Añade un evento que, al cambiar el estado de 'select-all', cambie el estado de cada checkbox
  selectAllCheckbox.addEventListener('change', function() {
    itemCheckboxes.forEach(checkbox => {
      checkbox.checked = selectAllCheckbox.checked;
    });
  });

  // Actualiza el estado de 'select-all' si se desmarca uno de los checkboxes individuales
  itemCheckboxes.forEach(checkbox => {
    checkbox.addEventListener('change', function() {
      // Si todos los checkboxes individuales están marcados, el checkbox de "Seleccionar todos" también se marca
      selectAllCheckbox.checked = [...itemCheckboxes].every(item => item.checked);
    });
  });
</script>


{% endblock %}